    <header>
        <div class="header-content">
            <div class="header-text">
                <h1>📚 Book Notes</h1>
                <p>Suas avaliações de livros favoritos</p>
            </div>
            <a href="/add" class="add-new-button">+ Nova Avaliação</a>
        </div>
    </header>